<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>DICOM Image Upload &amp; ImagingStudy Generator</Name>
    <Version>1.0.0</Version>
    <Title>DICOM Image Upload &amp; ImagingStudy Generator Installer</Title>
    <Publisher>Your vendor</Publisher>
    <StartMenuDir>Super App</StartMenuDir>
    <TargetDir>@HomeDir@/InstallationDirectory</TargetDir>
</Installer>
